<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">

		html, body{
			width: 100%;
			height: 100%;
		}
		</style>

		<meta charset="utf-8">
		<!--<title> Adam Sachs | Photography </title> -->
		<!--<link rel="stylesheet" href="css/normalize.css"> -->
		<link href='http://fonts.googleapis.com/css?family=Arimo:400,700%7CRoboto:400,700,300' rel='stylesheet' type='text/css'>
		<!--<link rel="stylesheet" href="css/main.css"> -->
		<!--<link rel="stylesheet" href="css/responsive.css"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
    	<!--<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script> -->
    	<script type="text/javascript"
      		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZgYmqghipj4CYy8byXhd4vRH1PP941U4">
      	</script>
      	 <!--<script type="text/javascript" src="js/jquery.endless-scroll.js"></script> -->
		<!--<script src="js/app.js" type="text/javascript" charset="utf-8"></script> -->

	</head>

	<body id = "maingallery">
		
		<div id = "map"></div>


	</body>
</html>