/***************************
GENERAL
****************************/

body{
	font-family: 'Arimo', serif;
	font-weight: normal;
}


#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	color: #036;
}

#wrapper p{
	font-size: .8em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/***************************
HEADING
****************************/

header {
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	z-index: 0;
}

#logo{
	position: absolute;
	text-align: left;
	left: 5%;
	z-index: 0;
	font-size: 350%;
}

h1{
	font-family: 'Roboto', serif;
	margin: 15px 0;
	font-size: 2.5em;
	font-weight: lighter;
	line-height: 0.8em;
}

h2{
	font-family: 'Roboto', serif;
	margin: -5px 0 -10px;
	font-size: 1em;
	font-weight: lighter;
}

h3{
	margin: 1em 0 .5em 0;
	font-size: 1.33em;
}


/***************************
NAVIGATION
****************************/
/*
nav{
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	font-size: .75em;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a{
	font-weight: 700;
	padding: 15px 10px;
} */
/***************************
FOOTER
****************************/
/*
footer{
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	font-weight: 700;
}
*/
/***************************
PAGE: MAP
***************************/

html { height: 75% }
body { height: 100%; margin-top: auto; margin-bottom: auto; padding: 0; z-index: 0; }
#map { position: relative; 
	height: 80%; width: 80%; 
	display: block; 
	margin:auto; margin-top: 10%; margin-bottom: 10%;
	z-index: 0;
	}
#map img {max-width: none;}

#infowindowlink {
	font-size: 200%
}
#infowindowlink img {
	max-width: 100%;
	max-height: 90%;
	margin-left: auto;
}



/***************************
COLORS
****************************/

/* site body */
body {
	background-color: #fff;
	color: #036;
}

/* header*/
header {
	background-color: #fff;
	border-color: #192a68;
}

/* nav background on mobile devices */
nav {
	background: #fff;
}

/* logo text */
h1, h2{
	color: #669;
}

/* links */
a, a:visited {
	color: #036;
}

a:hover{
	color: #669;
}


/*nav links */
nav a, nav a:visited {
	color: #036;
}

/* selected nav link */
nav a.selected, nav a:hover{
	color: #669;
}


#overlay{
	background:rgba(0,0,0, 0.85);
	width:100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	text-align: center;
	overflow-y: scroll;
}

#overlay ul{
	list-style-type: none;
}

#overlay img {
	width: 80%;
	max-height: 80%;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
}

