<!DOCTYPE html>
<html>
<head>
  <title>Photos from Europe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 

</head>
<body>
	<header>
			<a href="views/welcome/index.html.erb" id="logo">
				<h1>Photos from Europe</h1>
			</a>
			<nav>
				<ul>
					<li><a href="views/welcome/index.html.erb">Photos</a></li>
				</ul>
			</nav>
	</header>


<%= yield %>

</body>
</html>
