<!DOCTYPE html>
<html>
<head>
  <title>Some Photos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 

</head>
<body>
	<header>
			<a href="views/welcome/index.html.erb" id="logo">
				<h1>Some Photos</h1>
				<h2>Adam Sachs</h2>
			</a>
			<!--<nav>
				<ul>
					<li><a href="index.html" class="selected">Photos</a></li>
				</ul>
			</nav> -->
	</header>

<%= yield %>

</body>
</html>
